name: SSH into EC2

on:
  workflow_dispatch:

jobs:
  ssh-ec2:
    runs-on: ubuntu-latest

    steps:
    - name: Decode PEM file
      run: |
        echo "$EC2_PEM_BASE64" | base64 --decode > private-key.pem
        chmod 600 private-key.pem

    - name: Add known hosts
      run: |
        mkdir -p ~/.ssh
        echo "$EC2_KNOWN_HOST" >> ~/.ssh/known_hosts

    - name: Execute SSH command on EC2
      run: |
        ssh -i private-key.pem $EC2_HOST "echo 'Connected successfully!' && uname -a"
